body, #left, #top, #body, #step-sequencer, .inst-panel, .box-2 {
  background-color: #36383b;
}

body, #left, #dropdownMenuButton, .chaos-kill-button, #left {
  color: #f8f8f8;
}

h1, #step-sequencer, #doomhead, #chaoshead, #chaos:active, #doom:active {
  color: #E72E2E;
}

#left, #step-sequencer, .inst-panel, #a-b-button-div, #tempo-input, .left-chaos-col-div, #chaos, #doom, .ghost-octave-button-div, .left-ghost-col-div, .ghost-extra-controls, .edit-step-input {
  text-align: center;
}

#left, .wrapper, #top, #step-sequencer, .inst-panel {
  border: 3px solid #F8A125;
}

#patterns, #swing-slider, .instrument-slider, #volume-slider-div, #start-stop-button, .a-b-buttons, .pitch-slider, #tempo-input, #dropdownMenuButton, .chaos-volume-slider, .ghost-octave-button, .ghost-extra-contols-border:before, .ghost-off-button, .edit-step-input  {
  display: block;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 8rem;
}

#volume-2 {
  padding-top: 40px;

}

#left {
  padding-top: 10%;
}


.wrapper {
  display: grid;
  grid-template-columns: 190px 10fr;
}

#top {
  grid-template-columns: 9fr 10fr;
  height: 20%;
}

#body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#step-sequencer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 1rem;
}

#patterns {
  margin-top: 20%;
}

#swing-slider, #volume-slider-div, .chaos-volume-slider {
  margin: auto;
}

.instrument-slider {
  margin-top: 60%;
  margin-bottom: 50%;
  padding: 0;
  transform: rotate(-90deg);
}

#a-b-button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#start-stop-button, .a-b-buttons {
  background-color: #F8A125;
}

#start-stop-button {
  border-radius: 10px;
  padding: 20px 10px;
  margin: 40px auto;
}

.sequence-button, .a-b-buttons, .ghost-octave-button, .ghost-back-button, .ghost-forward-button {
  height: 50px;
  width: 50px;
}

.sequence-button {
  border-radius: 10px;
  margin: 3rem 0;
}

.glow, .instrument-glow, .a-b-glow, .ghost-octave-glow {
  border-width: medium;
  border: 3px solid #F1F827;
  box-shadow: 0 0 10px #F1F827;
}

.a-b-buttons {
  border-radius: 10px;
  margin: 5px auto;
}

.a-b-wrap {
  width: 100%;
}

.instrument-button {
  border-radius: 10px;
  height: 30px;
  width: 50px;
  margin: 25% auto;
  background-color: #E72E2E
}

.pitch-slider {
  width: 50%;
  background: #d3d3d3;
  margin: 20% auto 5%;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.pitch-slider:hover {
  opacity: 1;
}

#tempo-input {
  width: 80px;
  margin: 10% auto;
}

#dropdownMenuButton {
  background-color: #54575B;
  width: 100px;
  margin: 10% auto;
}

.on {
  background-color: #E72E2E;
}

.box-2 {
  box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.5);
  border:4px solid black;
  font-size: 12px;
  max-width: 400px;
  height: 600px;
  word-wrap: break-word;
}

.chaos-wrapper, .chaos-body, .left-chaos-col-div {
  border: 3px solid #FB5B5A;
}

.chaos-wrapper {
  display: grid;
  grid-template-columns: 190px 1fr;
  height: 100%;
  background-color: #003F5C;
  color: #FB5B5A;
}

.chaos-body {
  height: 100%;
}

.left-chaos-col-div {
  height: 840px;
}

.chaos-slider {
  padding: 0 auto;
}

.chaos-kill-button {
  margin-top: 40px;
  border-radius: 10px;
  padding: 25px 25px;
  background-color: #BC4873;
  font-size: 2rem;
}

.chaos-body-top {
  border-bottom: 6px solid #FB5B5A;
  height: 20%;
}
#chaos-header {
  font-size: 8rem;
}


#doomhead, #chaoshead, #hankhead {
  color: #E72E2E;
}

#chaos {
  box-shadow: 5px 5px 10px black;
  position: sticky;
  opacity: 0.6;
  overflow: hidden;
  top: 100%;
  font-size: 2px;
  background-color: white;
  color: black;
  text-align: center;
  width: 300px;
  height: 375px;
  border:4px solid black;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

#chaos:active {
  background-color: black;
  transform: translate(-1%, -1%);
  box-shadow: 0 0 20px #cc241d;
  user-select: none;
}

#doom {
  box-shadow: 5px 5px 10px black;
  position: sticky;
  opacity: 0.6;
  overflow: hidden;
  top: 100%;
  scroll-behavior: none;
  user-select: none;
  font-size: 10px;
  background-color: white;
  color: black;
  text-align: center;
  width: 300px;
  height: 375px;
  border:4px solid black;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

#doom:active {
  color: #E72E2E;
  transform: translate(-1%, -1%);
  background-color: black;
  box-shadow: 0 0 20px #cc241d;
  user-select: none;
  transition:
}

#hank {
  box-shadow: 5px 5px 10px black;
  position: sticky;
  opacity: 0.6;
  top: 100%;
  overflow: hidden;
  user-select: none;
  font-size: 6px;
  background-color: white;
  color: black;
  text-align: center;
  width: 300px;
  height: 375px;
  border:4px solid black;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

#hank:active {
  box-shadow: 0 0 20px #cc241d;
  transform: translate(-1%, -1%);
  color: #E72E2E;
  background-color: black;
  /* transform: scale(1) translate(3%, 3%); */
  user-select: none;
}

.box-1 {
  margin: 5px;
}

.ghost-octave-button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ghost-wrapper, .ghost-wrapper, .ghost-body {
  border: 3px solid #cc241d;
}

.left-ghost-col-div {
  height: 800px;
}

.ghost-wrapper {
  display: grid;
  grid-template-columns: 190px 1fr;
  height: 100%;
  background-color: #282828;
  color: #ebdbb2;
}

#ghost-header {
  color: #ebdbb2;
}

.ghost-octave-button, .ghost-off-button, .ghost-back-button, .ghost-forward-button {
  background-color: #cc241d;
}

.ghost-octave-button {
  border-radius: 10px;
  margin: 5px auto;
}

.ghost-display {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.white-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 200px;
}

.black-keys {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
  height: 200px;
}

.black-ghost-note, .white-ghost-note {
  border: 5px solid #282828;
  border-radius: 5%;
}

.black-ghost-note {
  background-color: #928374;
  outline: none;
}

.white-ghost-note {
  background-color: #fbf1c7;
}

.ghost-body-top, .ghost-extra-controls {
  border-bottom: 6px solid #cc241d;
}

.key-wrapper {
  margin: 100px 30px 0 30px;
}

.ghost-margin {
  margin-top: 30px;
}

#delay-control-margin {
  margin-top: 70px;
}

.ghost-glow {
  border: solid blue;
  border-width: medium;
  border: 5px solid #cc241d;
  box-shadow: 0 0 20px #cc241d;
}

.ghost-extra-controls {
  border-left: 6px solid #cc241d;
}

.ghost-extra-contols-border {
  background-color: #282828;
}

.ghost-extra-contols-border {
  background-color: #282828;
  padding: 2em;
  width: 36em;
  height: 36em;
  position: relative;
  margin: 0 auto;
}

.ghost-extra-contols-border:before {
  background: none;
  border: 2px solid #cc241d;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.ghost-extra-margin-div {
  margin-top: 30px;
}

.ghost-off-button {
  border-radius: 10px;
  padding: 20px 30px;
  margin: 15px auto;
}

.edit-step-input {
  width: 80px;
  margin: 10% auto;
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

.ghost-back-button {
  border-radius: 10px;
  margin: 5px auto;
}

.key-press {
  opacity: .5;
}

.ghost-forward-button {
  border-radius: 10px;
  margin: 5px auto;
}

button:focus {
  outline:none;
}

.ghost-off-button-div {
  min-height: 150px;
  max-height: 150px;
}

.back-forward-div {
  margin-bottom: 30px;
}
